<!DOCTYPE html>
<html>
  <head>
    <title>
      Metaphorgy:
      {{#unless metaphor}}Metaphor Generator{{/unless}}
      {{#if metaphor}}My {{word}} is {{article}} {{metaphor}}.{{/if}}
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href='/css/app.css' rel='stylesheet' media='screen'>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div id='main' role='main'>
      {{{body}}}
    </div>

    {{! JavaScript libraries; loaded from src/public/js/lib   }}
    <script type="text/javascript" src='/js/lib/jquery-1.10.2.min.js'></script>
    <script type="text/javascript" src='/js/lib/bootstrap.min.js'></script>

    {{! Compiled js; built with grunt and loaded from src/public/build/js }}
    <script type="text/javascript" src='/js/app.min.js'></script>

    {{#if googleAnalyticsId}}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{googleAnalyticsId}}', '{{googleAnalyticsDomain}}');
        ga('send', 'pageview');
      </script>
    {{/if}}
  </body>
</html>
