{{!< layout}}

<header>
  <div class='jumbotron header'>
    <div class='jumbo'>METAPHORGY</div>
  </div>
  <div class='jumbotron subhead'>
    <h3>a website to help you build metaphors</h3>
    <h5>by <a class="name" href="https://github.com/ajacksified">ajacksified</a> &amp; <a class="name" href="https://github.com/sarahgp">sarahgp</a> <a href='https://github.com/sarahgp/metaphorgy'><i class="fa fa-github"></i></a></h5>
  </div>
</header>

<section class='container'>
  <form action='/metaphor' id='metaform'>
    <div id='question' class='row {{#if metaphor}}hidden{{/if}}'>
        <div class='col-sm-2 col-sm-offset-1 pull'> 
          <p class='entry pre'>My</p>
        </div>
        <div class="col-sm-6">
          <input type='text' id='word-entry' class='form-control xs-bottom-gutter' placeholder='Enter a word' name='word'>
      </div>
      <div class='col-sm-2'><p class='entry post'>is a</p></div>
    </div>

    <div id='answer' class='col-sm-12 {{#unless metaphor}}hidden{{/unless}}'>
      <p class='result'>My <span class='word' id='word'>{{ word }}</span> is <span id='article'>{{article}}</span> <span class='word' id='metaphor'>{{metaphor}}</span>.</p>
      <p class="text-center social">
        <a href="https://twitter.com/share?url=https%3A%2F%2Fwww.metaphor.gy%2Fmetaphor%2F{{word}}%2F{{metaphor}}&text=My%20{{word}}%20is%20{{article}}%20{{metaphor}}.%20&hashtags=metaphorgy" target="_blank" id="twitter-share">
          <i class="fa fa-twitter"></i> Tweet this metaphor.
        </a>
      </p>

      </div>

      <div class='row submit'>
        <div class='col-sm-12'>
          <p class='perspective'>
            <button type='submit' class='btn btn-entry {{#if metaphor}}btn-success3d{{/if}}'>Complete Sentence</button>
          </p>
        </div>
      </div>
    </div>
  </form>
</section>
